admin/node_modules
client/node_modules
api/node_modules



admin/.dockerignore
client/.dockerignore
api/.dockerignore



admin/Dockerfile
client/Dockerfile
api/Dockerfile


api/.env
admin/.env
client/.env

admin/src/models/fastik-gsheet.json
client/src/models/fastik-gsheet.json



docker-compose.yaml
