admin/node_modules
client/node_modules
api/node_modules



admin/.dockerignore
client/.dockerignore
api/.dockerignore



admin/Dockerfile
client/Dockerfile
api/Dockerfile


api/.env
admin/.env
client/.env



docker-compose.yaml
